*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
img{
    width: 100vw;
}
a{
    display:block;
    background-color: rgb(242, 242, 242);
    padding:20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color:rgb(0, 0, 0);
}
a:hover{
    background-color: rgb(63, 63, 63);
    color:rgb(255, 255, 255);
    transition: background-color 0.5s, color 0.5s;
}